// custom classes

.myButton
  border 1px solid #333
  width 250px
  height 60px
  display inline-flex
  align-items center
  padding-left 3rem
  position relative
  transition .4s all ease-in-out
  text-decoration none
  &:after
    content: '\203A'
    position absolute
    font-size 2rem
    right 10%
    top 50%
    transform translate(-50%,-50%)
  &:hover
    background-color #000
    color #fff
    cursor pointer

@media (max-width 420px)
  .myButton
    width 200px
    height 50px
    padding-left: 1rem
    font-size: 1.1rem
    &:after
      font-size: 1.1rem
      right: 5%