/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/app'
@import './fonts'
@import './custom'

.toolbar__content
.toolbar__extension
    display flex
    width 80%
    justify-content space-around

.navigation-drawer__border
  width 0

.application--light .navigation-drawer
  display: flex
  align-items: center
  justify-content: center
  box-shadow 3px 3px 3px #c0c0c0

.wrapper
  max-width 1750px
  margin-left auto
  .LC
    max-width: 1200px
    margin 0 auto

p
  margin 0