/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/app'
@import './fonts'
@import './custom'


.application--light
  background-color #fff


.application--light .input-group input, .application--light .input-group textarea
  // color #fff

.application--light .input-group:not(.input-group--error) label
  // color #fff

.application--light .input-group:not(.input-group--error):not(.input-group--focused):not(.input-group--disabled):not(.input-group--disabled):not(.input-group--overflow):not(.input-group--segmented):not(.input-group--editable):hover .input-group__details:before
  // background-color: #fff

.application--light .input-group:not(.input-group--error) .input-group__details:before
  // background-color: #fff

.application > main
  flex-direction: column

.dialog
  overflow-y: hidden

.toolbar__content
.toolbar__extension
    display flex
    width 80%
    justify-content space-around

.navigation-drawer__border
  width 0

.application--light .navigation-drawer
  display: flex
  align-items: center
  justify-content: center
  box-shadow 3px 3px 3px #c0c0c0
  font-size: 1.2rem
  font-family: Gilroy-Light, Arial, Helvetica, sans-serif

.wrapper
  max-width 1730px
  margin-left auto !important
  width 100%
  overflow hidden
  position relative
  .LC
    max-width: 1200px
    margin 0 auto !important

p
h2
h1
h3
  margin 0
