/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/app'
@import './fonts'
@import './custom'
@import './wrapper'

.footer
  position relative
  z-index: 8

.scroll
  z-index: 5

.application--light
  background-color #fff

.application > main
  flex-direction: column

.dialog
  overflow-y: hidden

.toolbar__content
.toolbar__extension
    display flex
    width 80%
    justify-content space-around

.navigation-drawer__border
  width 0

.application--light .navigation-drawer
  display: flex
  align-items: center
  justify-content: center
  box-shadow 3px 3px 3px #c0c0c0
  font-size: 1.2rem
  font-family: Gilroy-Light, Arial, Helvetica, sans-serif

p
h2
h1
h3
  margin 0

@media (max-width 1000px)
  h2
    font-size 1.8rem
    width 90%
    text-align: center

@media (max-width 700px)
  .toolbar__content
  .toolbar__extension
    width 100%