.wrapper
  max-width 1745px
  margin-left auto !important
  width 100%
  overflow hidden
  position relative
  .LC
    max-width: 1200px
    margin 0 auto !important


@media (max-width: 1600px)
  .wrapper
    max-width: 1450px
@media (max-width 1550px)
  .wrapper
    max-width 1400px
@media (max-width: 1500px)
  .wrapper
    max-width: 1300px
@media (max-width: 1450px)
  .wrapper
    max-width: 1200px
@media (max-width: 1400px)
  .wrapper
    max-width: 1150px
@media (max-width: 1350px)
  .wrapper
    max-width: 1100px
@media (max-width: 1300px)
  .wrapper
    max-width: 1090px
@media (max-width: 1250px)
   .wrapper
    max-width: 1000px
@media (max-width: 1200px)
  .wrapper
    max-width: 950px
@media (max-width: 1150px)
  .wrapper
    max-width: 900px
@media (max-width: 1100px)
  .wrapper
    max-width: 850px
@media (max-width: 1050px)
  .wrapper
    max-width: 800px
@media (max-width: 1000px)
  .wrapper
    max-width: 100%
    margin-left: 0 !important

