.wrapper
  max-width 1747px
  margin-left auto !important
  width 100%
  overflow hidden
  position relative
  .LC
    max-width: 1200px
    margin 0 auto !important


@media (max-width: 1600px)
  .wrapper
    max-width: 1450px

@media (max-width 1550px)
  .wrapper
    max-width 1400px

@media (max-width: 1500px)
  .wrapper
    max-width: 1300px

@media (max-width: 1450px)
  .wrapper
    max-width: 1270px

@media (max-width: 1400px)
  .wrapper
    max-width: 1225px

@media (max-width: 1350px)
  .wrapper
    max-width: 1178px

@media (max-width: 1300px)
  .wrapper
    max-width: 1125px

@media (max-width: 1250px)
   .wrapper
    max-width: 1075px

@media (max-width: 1200px)
  .wrapper
    max-width: 1025px
@media (max-width: 1150px)
  .wrapper
    max-width: 970px
@media (max-width: 1100px)
  .wrapper
    max-width: 890px
@media (max-width: 1050px)
  .wrapper
    max-width: 800px
@media (max-width: 1000px)
  .wrapper
    max-width: 100%
    margin-left: 0 !important














